
.hero {
    text-align: center;
    /* I will align all items in this .hero container accordingly */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;

}

.hero__img {
    border-radius: 6px;
    width: 6rem;
    height: 6rem;
    
}

.hero__subtitle {
    color: var(--color-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title {
    color: var(--color-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--color-slate600);
}

.hero__btn {
    text-transform: capitalize;
    font-size: var(--size-sm);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 645px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* xxl */
/* @media (min-width: 1536px) {} */
